// Custom colors
.bg-bkash {
  background-color: #E3136B;
}

.bg-bkash-300 {
  background-color: #E3136B;
}

.text-bkash {
  color: #E3136B;
}

.border-bkash {
  border: 2px solid #E3136B;
}

.bg-secondary{
  background-color: #765268;
}

.text-secondary{
  color: #765268;
}

.border-secondary{
  border: 2px solid #765268;
}

// Custom classes
.customInputClass {
  transition: all 150ms ease-in-out;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.01), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  border: 1px solid #dbdbdb !important;
}

.flag-dropdown {
  border: 1px solid #dbdbdb !important;
}

.customInputClass:focus {
  outline: none;
  border: 1px solid #000;
  box-shadow: 0 0 0 0.2rem rgb(0, 123, 255);
}

.animate-spin {
  margin-right: 7px;
  top: 2px;
  animation: spin 1s infinite linear;
}

.opt-container{
  input{
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    cursor: text;

    &:focus{
      outline: none;
      border: 1px solid rgb(0, 123, 255) ;
    }
  }
}

.handle_top_padding{
  padding-top: 0 !important;
}

.height_handle{
  height: calc(100vh - 80px);
}